<%= form_for(@hive) do |f| %>
  <% if @hive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hive.errors.count, "error") %> prohibited this hive user from being saved:</h2>

      <ul>
      <% @hive.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
	<%=f.label :password %><br/>
	<%=f.password_field :password %>
  </div>
  <div class="field">
	<%=f.label :password_confirmation, "Confirm"%><br/>
	<%=f.password_field :password_confirmation %>
  </div>
 
  <div class="actions">
  <% if sign_in? %>
  <%=f.submit "save changes", class: "btn-large" %>
  </br>
  <%= gravatar_for @hive %>
  <a href="http://gravatar.com/emails">change</a>
  <% else %>
    <%= f.submit "Create Account", class: "btn-large" %>
  </div>
  
  <% end %>
<% end %>
