<%= provide(:title, current_user.name) %>
<h1>All HiveConnect Users</h1>

<%= will_paginate %><br/>

<% @hives.each do |hive| %>
  <div class="list">
	<%= gravatar_for hive %>
    <%= hive.name %>    <%= hive.email %>
    <%= time_ago_in_words(hive.created_at) %> ago 
    <%= link_to 'Show', hive %>
    <%= link_to 'Edit', edit_hive_path(hive) %>
    <%= link_to 'Destroy', hive, confirm: 'Are you sure?', method: :delete %>
  </div> 

<% end %>
<%= will_paginate %>


<br/>

<%= link_to 'New Hive', new_hive_path %>