<% provide(:title, @hive.name) %>
<p id="notice"><%= notice %></p>
<p class = "gravatar">
<%= gravatar_for @hive %>
</p>
<aside class = "aside"><p>
  <b>Name:</b>
  <%= @hive.name %>
</p>

<p>
  <b>email:</b>
  <%= @hive.email %>
</p>
</aside>
<section id="aside">
<% if @hive.microposts.any? %>
	<h3>Microposts (<%= @hive.microposts.count %>)</h3>
	<ol class= "microposts">
	<%= render @microposts %>
	</ol>
	<%= will_paginate @microposts %>
	<% end %>
	

</section>

<%= link_to 'Edit', edit_hive_path(@hive) %>
