<% provide(:title, current_user.name) %>
<div class="kando">
<aside id="left">
<a href="<%= hive_path(current_user) %>">
	<%= gravatar_for current_user, size: 52 %></a>
<h1><%= current_user.name %>
</h1>
<span><%= link_to 'view my profile', current_user  %>
</span>
<b>
<%= pluralize(current_user.microposts.count, "Micropost")%>
</b>	

<%= render 'shared/stats' %>
<section>
<% if @hives.any? %>
<div class="user_avatars">
<% @hives.each do |hive| %>
<%= link_to gravatar_for(hive, size: 30), hive %>
<% end %>
<% end %>
</div></section>
</aside>
<section id="aside">
<h3><%= @title %></h3>
<% if @hives.any? %>
<ol>
<% @hives.each do |user| %>
<li class="list" ><%= link_to gravatar_for(user, size: 50), user %>
<%= link_to user.name, user %></li>
<% end %>
<% end %>
</ol>

</div>