<% provide(:title, @hive.name) %>
<p id="notice"><%= notice %></p>
<p>
<%= gravatar_for @hive %>
</p><p>
  <b>Name:</b>
  <%= @hive.name %>
</p>

<p>
  <b>email:</b>
  <%= @hive.email %>
</p>

<p>
  <b>Created at:</b>
  <%= @hive.created_at %>
</p>


<%= link_to 'Edit', edit_hive_path(@hive) %> |
<%= link_to 'Back', hives_path %>
